# Ignore IntelliJ/Android Studio files
*.iml
.gradle
/local.properties
/.idea/
/.idea/*

# Specific .idea files to ignore
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS specific files
.DS_Store

# Build directories
/build/
/captures/
/.externalNativeBuild/
/.cxx/

# Gradle wrapper files
gradlew
gradlew.bat
gradle.properties
.gradle/
/gradle/wrapper/gradle-wrapper.jar
gradle-wrapper.properties

# Miscellaneous
local.properties
